ORACLE_USER=onboarding_user
ORACLE_PASSWORD=onboarding123
ORACLE_DSN=localhost:1521/XEPDB1
SECRET_KEY=onboard_secret_key_2024_wipro
ALGORITHM=HS256
FILE_UPLOAD_PATH=./uploads
AI_SERVICE_URL=http://localhost:5000
GROQ_API_KEY=your_groq_api_key_here
